# Ignore the following files and directories when building the Docker image
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv
venv/
env/
*.log
*.tmp
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
*.whl